<!DOCTYPE html>
<html>

<head>
    <title>EasyTrain</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <div id="logo">
            <h1><span class="highlight">Easy</span>Train</h1>
        </div>
        <p class="tagline">Build custom image classifiers in minutes, right in your browser.</p>

    </header>


    <section>
        <!-- two cards for two classes that the classifier will be trained on
        card will have an editable name (class name), an option to upload images, an option to capture images from webcam
        upon upload or webcam, the card should expand a bit and show the uploaded images or the video feed with a button to record -->
        <section id="model-creation">
            <h2>Create Your Classifier</h2>
            <div class="card-container">
                <div class="card">
                    <div class="card">
                        <div class="class-name">
                            <input type="text" placeholder="Enter class name" value="Class 1" id="class-name-1">
                        </div>
                    </div>
                    <div class="container">
                        <div>
                            <div class="upload-options">
                                <button class="upload-dropdown-btn">Upload Images</button>
                                <div class="dropdown-content">
                                    <div>
                                        <label for="image-upload-dropdown">Upload Separate Images:</label>
                                        <button class="dropdown-close-btn">close</button>
                                    </div>
                                    <input type="file" id="image-upload-1" accept="image/*" multiple
                                        data-class-name="class-name-1">

                                    <!-- <label for="zip-upload-dropdown">Or Upload a Zip File:</label>
                                    <input type="file" id="zip-upload-2" accept=".zip"> -->

                                    <button id="upload-btn-1" class="upload-btn">Upload</button>
                                    <p class="upload-status" id="upload-status-1"></p>
                                </div>
                            </div>
                            <button id="webcam-btn-1" class="webcam-btn">Use Webcam</button>
                        </div>
                        <img src="" alt="" class="image-preview">
                        <video class="video-preview"></video>
                    </div>
                </div>

                <div class="card">
                    <div class="card">
                        <div class="class-name">
                            <input type="text" placeholder="Enter class name" value="Class 2" id="class-name-2">
                        </div>
                    </div>
                    <div class="container">
                        <div>
                            <div class="upload-options">
                                <button class="upload-dropdown-btn">Upload Images</button>
                                <div class="dropdown-content">
                                    <div>
                                        <label for="image-upload-dropdown">Upload Separate Images:</label>
                                        <button class="dropdown-close-btn">close</button>
                                    </div>
                                    <input type="file" id="image-upload-2" accept="image/*" multiple
                                        data-class-name="class-name-2">

                                    <!-- <label for="zip-upload-dropdown">Or Upload a Zip File:</label>
                                    <input type="file" id="zip-upload-2" accept=".zip"> -->

                                    <button id="upload-btn-2" class="upload-btn">Upload</button>
                                    <p class="upload-status" id="upload-status-2"></p>
                                </div>
                            </div>
                            <button id="webcam-btn-2" class="webcam-btn">Use Webcam</button>
                        </div>
                        <img src="" alt="" class="image-preview">
                        <video class="video-preview"></video>
                    </div>
                </div>
            </div>
            <em>I have not yet added any checks for if the user has uploaded images or not. So please make sure you have
                uploaded images for both classes before training the model.
            </em>
            <br>
            <button id="train-model-btn">Train</button>
            <div id="training-status">
                <p>Nothing to train :(</p>
                <!-- <div class="loader"></div> -->
            </div>
        </section>

        <!-- under these should be a button called Train which will start the training process and when it is completed another section will come under it with the final model and an option to download it or test it live with the webcam -->
        <section id="model-test-download">
            <div class="container">
                <h2>Your Model Is Ready!</h2>
                <em>Test it by uploading an image</em>
                <input type="file" id="test-image-upload" accept="image/*">
                <button id="test-model-btn">Test</button>
                <img src="" alt="" id="test-image-preview" class="image-preview">
                <p id="prediction"></p>
                <button id="download-model">Download Model</button>
            </div>
        </section>

        <script src="{{ url_for('static', filename='jszip.min.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

    </section>
</body>

</html>